version: "3.7"
services:
  app:
    build: .
    ports:
        - "8090:8080"
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: clashofclans
      POSTGRES_DB: objects

    ports:
      - 5433:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: